<div class="container" >
    <img class="profile-img" [src]="(userFirstPhoto$ | async)?.uri_resource" alt="Profile">
    <div class="container-profile" >
        <br>
        <div class="stats" >
            <p><b>{{ (userPostCount$ | async) }}</b> Publicaciones </p>
            <p><b *ngIf="isAuthenticated$ | async">{{ (pendingFollowers$ | async)?.length }}</b> Amigos </p>
            <p><b *ngIf="isAuthenticated$ | async">{{ (approvedFollowers$ | async)?.length }}</b> Solicitudes </p>
        </div>
        <div class="p-info" >
            <h2 *ngIf="isAuthenticated$ | async">{{ (user$ | async)?.name }}</h2>
            <p class="p-birthday" *ngIf="isAuthenticated$ | async">Cumpleaños: {{ (user$ | async)?.birth_date }}</p>
            <p class="p-nickname" *ngIf="isAuthenticated$ | async">Apodo: {{ (user$ | async)?.nickname }}</p>
            <p class="p-dev" > HTML, CSS, JAVASCRIPT</p>
            <p class="p-suscribe" >Suscríbete a mi canal</p>
            <a class="p-link" href="https://www.youtube.com/@UdeMedellin_">UdeMedellin</a>
        </div>
        <br>
        <div class="p-buttons" >
            <button class="p-edit">Editar perfil</button>
        </div>
    </div>
</div>
<br>
<div class="u-logo" >
    <img class="u-img" src="assets/histori.svg" alt="UdeMedellin Logo">            
</div>
